*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

table{
    width: 900px;
    border-collapse: collapse; /*---> Nesse comando ele uni as bordas dos elementos*/
    margin: 0 auto;
}

table tr td{
    background-color: dimgray;
    height: 300px;
    vertical-align: top;
    border: 3px solid black;
}

.menu-fixed {
    /*position: fixed; Esse comando ele fixa o elemento e mantem smepre a posição */
    /*position: absolute; Esse comando ele o fluxo com base do navegador */
    position: relative; /*Esse comando, ele é com base ao elemento de onde le ta    */
    right: 0px;
    top: 0px;
    width: 300px;
    height: 200px;
    background: #069;
}

.box{
    width: 100%;
    height: 1400px;
    background-color: gold;
} 

.box > p{
    width: 400px;

}

/*
FALOU SOBRE POSITION E BORDER-COLLAPSE;
*/