*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

minhatag{
    display: block;
}

minhatag.tag_especial{
    background: green;
    width: 300px;
    height: 300px;
}

igor > h2{
    background: rebeccapurple;
}